<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <ion-input [(ngModel)]="valorInput" placeholder="Digite"></ion-input>
    
    <ion-button color="dark" [disabled]="!valorInput" expand="full" (click)="showJoke()">Exibir Piada</ion-button>

    <div *ngFor = "let pia of piada" > 
      <p><b>Perguta:</b> {{pia.pergunta}}</p>
      <p><b>Resposta:</b> {{pia.resposta}}</p> 

    </div>
  </div>
</ion-content>
